@import "tailwindcss";

/* Resets */
*, *::before, *::after { box-sizing: border-box; }
html, body, #root { height: 100%; margin: 0; padding: 0; }
body { margin: 0; line-height: 1.5; text-rendering: optimizeLegibility; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
ul { margin: 0; padding: 0; list-style: none; }
a { color: inherit; text-decoration: none; }

/* Tokens */
:root {
  --color-whiteish: #fffff9;
  --color-blackish: #2F2F2F;
  --color-yellow: #FFB702;

  --font-main: "Open Sans", ui-sans-serif, system-ui, sans-serif;

  --text-logo: clamp(6rem, 12vw, 11rem);
  --text-heading: clamp(4rem, 6vw, 6.25rem);
  --text-subheading: clamp(1.5rem, 3.2vw, 3.75rem);
  --text-body: clamp(1rem, 1vw, 2.5rem); 
  --text-body2: clamp(0.75rem, 1vw, 2rem);
}

body {
  background-color: var(--color-whiteish);
  color: var(--color-blackish);
  font-family: var(--font-main);
}

/* 

Responsive:

- 1920 x 1080
- 1024 x 768
- 640 x 844

 */